<p>Server time: {{testTime}}</p>
<div>
  <form [formGroup]="formLogin" (ngSubmit)="onLogin()">
    <div class="form-group">
      <label>Email</label>
      <input type="email" formControlName="email" class="form-control">
    </div>

    <div *ngIf="formLogin.get('email')?.errors && formLogin.get('email')?.touched"
    class="alert alert-danger">
      <small *ngIf="formLogin.get('email')?.errors?.required">
        Email is required.
      </small>
      <small *ngIf="formLogin.get('email')?.errors?.email">
        Please enter correct email address.
      </small>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control">
    </div>

    <div *ngIf="formLogin.get('password')?.errors && formLogin.get('password')?.touched"
    class="alert alert-danger">
      <small *ngIf="formLogin.get('password')?.errors?.required">
        Password is required.
      </small>
      <small *ngIf="formLogin.get('password')?.errors?.minlength">
        Incorrect password length. Need {{formLogin.get('password')?.errors?.minlength?.requiredLength}},
         actual length is {{formLogin.get('password')?.errors?.minlength?.actualLength}}
      </small>
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="formLogin.invalid" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
